<%= link_to 'Back', pins_path %>
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= image_tag @pin.image.url(), class: "img-responsive center" %>
			</div>
			
			<div class="panel-body">
				<p><%= @pin.description %></p>
				<p><strong><%= @pin.user.name if @pin.user.name %></strong></p>
        		<p><strong><%= @pin.user.email if @pin.user.name.blank? %></strong></p>
			</div>
			<% if @pin.user == current_user %>
				<div class="panel-footer">
					<%= link_to edit_pin_path(@pin) do %>
            <i class="fa fa-edit"> Edit</i>
          <% end %> |  
					<%= link_to  @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o"> Delete</i>
          <% end %>
				</div>
			<% end %>
		</div>

	</div>
</div>






